*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    /* padding: 20px; */
}

.grid-item {
    border: 1px solid black;
    width: calc(600px / 16);
    height: calc(600px / 16);
    /* padding: 10px; */
}