*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.main-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    gap: 20px;
}

.container{
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    /* padding: 20px; */
}

.grid-item {
    border: 1px solid black;
    border-radius: 10px;
    width: calc(960px / 16);
    height: calc(960px / 16);
    padding: 10px;

}

.grid-info {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px;
}

.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 253, 208, 0.5);
    position: relative;
    z-index: 2;
}